.btn{
    font-size:1.8rem;
    font-weight: 500;
    border:none;
    padding:1.2rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
   &:hover{
       box-shadow: 2px 0 12px rgba(black,0.1);
   }
&__primary{
    color:white;
    background-color: $color-secondary;
    transition:all .1s ease-in;
    &:hover{
        background-color: $color-primary;
    }
}
&__secondary{
    color:rebeccapurple;
    background-color: whitesmoke;
}
&__tertiary{
    background-color: $color-primary;
    color:white;
    box-shadow: 2px 2px 8px rgba(black,0.1);
}
&--active{
    background-color: $color-primary;
    color:white;
}
}
